.searchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;

  width: 300px;
  border-left: 3px solid rgb(108, 169, 129, 0.5);
  padding-left: 25px;
}

.searchLabel {
  text-align: start;
}

.searchInput {
  height: 20px;
  padding-left: 5px;
}
