.searchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;

  width: 300px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.searchLabel {
  text-align: start;
}

.searchInput {
  height: 20px;
}
