.contactForm {
  display: flex;
  flex-direction: column;
  gap: 3px;

  border: 2px solid white;
  border-radius: 8px;

  width: 300px;
  padding: 15px;
  margin-bottom: 30px;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #1f1f1f 0%, #0f2922 100%);
}

.formInput {
  padding-left: 5px;
  height: 20px;
}

.formBtn {
  width: 120px;
  padding: 8px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  background: rgb(108, 169, 129, 0.1);
}
.formBtn:hover {
  background: rgb(108, 169, 129, 0.3);
}
.errorMessage {
  color: #ff0000;
}
